<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Map My Life</title>
      <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
    <ul id="nav">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/visit/new">New Adventure</a>
      </li>
      <li>
        <a href="/visit">Places to go</a>
      </li>
      <li>
      <a href="/city">Places I have been</a>
    </li>
    </ul>
  </nav>
  <%= yield %>
  </body>
</html>
