<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Map My Life</title>
      <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav id="nav">
      <a href="/">Home</a>
      <a href="/visit/new">New Adventure</a>
      <a href="/visit">Places to go</a>
      <a href="/city">Places I have been</a>
  </nav>
  <%= yield %>
  </body>
  
</html>
