<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Map My Life</title>
      <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/country">Countries</a>
      </li>
      <li>
        <a href="/city">Cities</a>
      </li>
      <li>
        <a href="/visit">Visit</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
  </body>
</html>
