<h1>New City Adventure!</h1>

<form method="post" action="/city/new">
  <label for="city">City</label>
    <input type="text" name="name" id="city-name">

  <label for="country">Country</label>
    <input type="text" name="name" id="country-name">


  <label for="date">Dates:</label>
  <input type="date" name="date" id="date">

  <input type="submit"  value="Order Pizza">

</form>
