body{
  background-color: LightSlateGrey;
  background-repeat: no-repeat;
}
h1 {
    font-style: normal;
    font: serif;
    font-size: 4em;
    color: white
}

h2 {
    font-size: 2em; /* 30px/16=1.875em */
    color: white
}

p {
    font-size: 1em;
    padding: 10px 12px;
}

nav{
  font-size: 1.2em;
}
#nav {ul 
    list-style-type: circle;
    margin: 0;
    padding: 5;
    overflow: hidden;
    background-color: #333;
  }
}

li {
    float: left;}

ul{list-style-type: circle;
margin: 0;
padding: 5;
overflow: hidden;}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
img{
  border-radius: 8px;
  opacity: 0.5;
  filter: alpha(opacity=50);

}
