body{
  background-color: LightSlateGrey;
  background-repeat: no-repeat;
  margin: 0em;
}
h1 {
    font-style: normal;
    font: serif;
    font-size: 3em;
    color: white;
    margin: 1em;
}

h2 {
    font-size: 2em;
    color: white;
    margin: 1em;
}
h3{
  font-size: 1.5em;
  color: white;
  margin: 0.5em;
}
p {
    font-size: 1.5em;
    padding: 6px 6px;

}

nav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 2.5em;
    text-align: left;
}

nav a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
    margin: 1em;

}

/* Change the link color to #111 (black) on hover */
nav a:hover {
    background-color: #111;
}


table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: solid 0.5em black;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: white;
    color: black;
    padding: 1em;
}


 a {
 color: Silver;
 background-color: transparent;
 text-decoration: none;
}

a:link{
 color: Purple;
 background-color: transparent;
 text-decoration: none;
}

a:hover {
 color: White;
 background-color: transparent;
 text-decoration: none;
}

input[type=submit], input[type=reset] {
 background-color: Black;
 color: Silver;
 border: 0.1em outset #C0C0C0;

 padding: 0.4em 0.5em;
 text-decoration: none;
 margin: 0.2em 0.4em;
 cursor: pointer;
 font-size: 0.9em;
}


#wrap-main-img {
  width: 40%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(45deg);
  position: relative;
  left: 30em;
}
