body{
  background-color: LightSlateGrey;
  background-repeat: no-repeat;
  margin: 4em;
}
h1 {
    font-style: normal;
    font: serif;
    font-size: 4em;
    color: white
}

h2 {
    font-size: 2em;
    color: white
}
h3{
  font-size: 1.5em;
  color: white
}
p {
    font-size: 1.5em;
    padding: 6px 6px;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 5;
    overflow: hidden;
    background-color: #333;
}

nav a {
    display: inline;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.5em;
    margin: 1em;
}

/* Change the link color to #111 (black) on hover */
nav a:hover {
    background-color: #111;
}

th, td {
    padding: 15px;
    text-align: center;
}
th, td{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
}
td, th, tr {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: white;
    color: black;
}

 a {
 color: Silver;
 background-color: transparent;
 text-decoration: none;
}

a:link{
 color: Purple;
 background-color: transparent;
 text-decoration: none;
}

a:hover {
 color: White;
 background-color: transparent;
 text-decoration: none;
}

input[type=submit], input[type=reset] {
 background-color: Black;
 color: Silver;
 border: 0.1em outset #C0C0C0;

 padding: 0.4em 0.5em;
 text-decoration: none;
 margin: 0.2em 0.4em;
 cursor: pointer;
 font-size: 0.9em;
} */


img {
  transform: rotate(20deg);

}
