<h1>New City Adventure!</h1>

<form method="post" action="/visit/new">
  <label for="city">City: </label>
    <input type="text" name="city_name" id="city-name">

  <label for="country">Country: </label>
    <input type="text" name="country_name" id="country-name">


  <label for="start-date">Start Dates: </label>
  <input type="date" name="start_date">

  <label for="end-date">End Dates: </label>
  <input type="date" name="end_date">

  <label for="comments">Comments: </label>
  <input type="text" name="comments" id="comments">

  <input type="submit"  value="New Adventure">

</form>
